langchain_chroma==1.1.0
langchain_classic==1.0.8
langchain_core==1.6.3
langchain_groq==1.1.3
langchain_huggingface==1.2.2
langchain_pymupdf4llm==1.28.0
langchain_text_splitters==1.1.2
python-dotenv==1.2.3
